h1{
    font-family: cursive;
    color:black;
    text-align: center;
    margin-top: 80px;
}
*{
    box-sizing: border-box;
    font-family: cursive;
}

.chicken
{
    width:400px;
    height:150px;
    background-color: grey;
    margin-top:80px;
    margin-left:40px; 
    border: 2px solid black;
    padding:40px; 
    float:left;
    margin-right: 40px;
    
}
#p1
{
    width:90px;
    height:30px;
    text-align: center;
    background-color: red;
    position:absolute;
    top:210px;
    left:357px;
    border:1px solid black;
    padding :0.5px;
    margin-bottom:100px;
    
}
.Beef{
    width:400px;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:40px;
    border:2px solid black;
    padding:40px;
    float:left;
    margin-right: 40px;
}
#p2{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:440px;
    left:357px;
     border:1px solid black;
    padding :0.5px;
}
.Sushi{
     width:400px;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:40px;
    border:2px solid black;
    padding:40px;
    margin-bottom: 120px;
    float:left;
    margin-right: 40px;
}
#p3{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:686px;
    left:357px;
     border:1px solid black;
    padding :0.5px;
}
@media(min-width:992px)
{
    .chicken
{
   
    width:30%;
    
    background-color: grey;
    margin-top:80px;
    margin-left:10px;
    border: 2px solid black;
    padding:30px;
    float:left;
    margin-right: 10px;
    
}
#p1
{
    width:90px;
    height:30px;
    text-align: center;
    background-color: red;
    position:absolute;
    top:210px;
    left:228px;
    border:1px solid black;
    padding :0.5px;
    margin-bottom:100px;
    
}
.Beef{
    width:30%;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:10px;
    border:2px solid black;
    padding:30px;
    float:left;
    margin-right: 10px;
}
#p2{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:210px;
    left:548px;
    border:1px solid black;
    padding :0.5px;
}
.Sushi{
     width:300px;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:10px;
    border:2px solid black;
    padding:30px;
    float:left;
    margin-right: 10px;
}
#p3{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:210px;
    left:868px;
     border:1px solid black;
    padding :0.5px;
}
   
}
@media(min-width:768px) and (max-width:991px)
{
.chicken
{
   
    width:350px;
    height:150px;
    background-color: grey;
    margin-top:80px;
    margin-left:10px;
    border: 2px solid black;
    padding:40px;
    float:left;
    margin-right: 10px;
    
}
#p1
{
    width:90px;
    height:30px;
    text-align: center;
    background-color: red;
    position:absolute;
    top:210px;
    left:278px;
    border:1px solid black;
    padding :0.5px;
    margin-bottom:100px;
    
}
.Beef{
    width:350px;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:10px;
    border:2px solid black;
    padding:40px;
    float:left;
    margin-right: 10px;
}
#p2{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:210px;
    left:648px;
     border:1px solid black;
    padding :0.5px;
}
.Sushi{
     width:720px;
    height:150px;
    background-color:grey;
    margin-top:80px;
    margin-left:10px;
    border:2px solid black;
    padding:40px;
    margin-bottom:100px;
    float:left;
    margin-right: 10px;
    }
#p3{
    width:90px;
    height:30px;
    text-align: center;
    background-color:red;
    position:absolute;
    top:42%;
    left:66%;
     border:2px solid black;
    padding :0.5px;
    margin-right: 20px;
}
}
